USE [db_ab9f8d_bookstoredb]
GO
/****** Object:  Table [dbo].[Authors]    Script Date: 31/07/2025 11:42:01 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Authors](
	[AuthorId] [int] IDENTITY(1,1) NOT NULL,
	[AuthorName] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AuthorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BookImages]    Script Date: 31/07/2025 11:42:02 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookImages](
	[ImageId] [int] IDENTITY(1,1) NOT NULL,
	[BookId] [int] NULL,
	[ImageUrl] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ImageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BookRatings]    Script Date: 31/07/2025 11:42:02 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookRatings](
	[RatingId] [int] IDENTITY(1,1) NOT NULL,
	[CustomerId] [int] NOT NULL,
	[BookId] [int] NOT NULL,
	[RatingValue] [int] NULL,
	[Comment] [nvarchar](max) NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[RatingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Books]    Script Date: 31/07/2025 11:42:02 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Books](
	[BookId] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[CategoryId] [int] NULL,
	[PublisherId] [int] NULL,
	[Price] [decimal](10, 2) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[ImageUrl] [nvarchar](255) NULL,
	[CreatedAt] [datetime] NULL,
	[AuthorName] [nvarchar](200) NULL,
	[IsVisible] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[BookId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CartItems]    Script Date: 31/07/2025 11:42:02 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CartItems](
	[CartItemId] [int] IDENTITY(1,1) NOT NULL,
	[CustomerId] [int] NULL,
	[BookId] [int] NULL,
	[Quantity] [int] NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[CartItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 31/07/2025 11:42:02 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[CategoryId] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](100) NOT NULL,
	[Alias] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 31/07/2025 11:42:02 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[CustomerId] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Phone] [nvarchar](20) NULL,
	[Email] [nvarchar](100) NULL,
	[Address] [nvarchar](200) NULL,
	[Password] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InventoryDetail]    Script Date: 31/07/2025 11:42:02 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InventoryDetail](
	[DetailId] [int] IDENTITY(1,1) NOT NULL,
	[ImportId] [int] NULL,
	[BookId] [int] NULL,
	[Quantity] [int] NOT NULL,
	[Iep_Id] [int] NULL,
	[Type] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[DetailId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InventoryExport]    Script Date: 31/07/2025 11:42:02 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InventoryExport](
	[UserId] [int] NULL,
	[Export_Date] [datetime] NULL,
	[Iep_Id] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NULL,
 CONSTRAINT [PK_InventoryExport] PRIMARY KEY CLUSTERED 
(
	[Iep_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InventoryImport]    Script Date: 31/07/2025 11:42:02 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InventoryImport](
	[ImportId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NULL,
	[ImportDate] [datetime] NULL,
	[Note] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ImportId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderItems]    Script Date: 31/07/2025 11:42:02 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderItems](
	[OrderItem_Id] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NULL,
	[BookId] [int] NULL,
	[BookPrice] [decimal](10, 2) NULL,
	[BookQuantity] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderItem_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 31/07/2025 11:42:02 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[CustomerId] [int] NULL,
	[OrderDate] [datetime] NULL,
	[ReceiveDate] [datetime] NULL,
	[TotalPrice] [decimal](10, 2) NOT NULL,
	[OrderId] [int] IDENTITY(1,1) NOT NULL,
	[PaymentMethodId] [int] NULL,
	[StatusId] [int] NULL,
	[Address] [nvarchar](255) NULL,
	[CustomerName] [nvarchar](255) NULL,
	[Phone] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderStatuses]    Script Date: 31/07/2025 11:42:02 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderStatuses](
	[StatusId] [int] IDENTITY(1,1) NOT NULL,
	[StatusName] [nvarchar](50) NULL,
 CONSTRAINT [PK_OrderStatuses] PRIMARY KEY CLUSTERED 
(
	[StatusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentMethods]    Script Date: 31/07/2025 11:42:02 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentMethods](
	[PaymentMethodId] [int] IDENTITY(1,1) NOT NULL,
	[MethodName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_PaymentMethods] PRIMARY KEY CLUSTERED 
(
	[PaymentMethodId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Publishers]    Script Date: 31/07/2025 11:42:02 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Publishers](
	[PublisherId] [int] IDENTITY(1,1) NOT NULL,
	[PublisherName] [nvarchar](150) NOT NULL,
	[Address] [nvarchar](200) NULL,
	[Phone] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[PublisherId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Statistic]    Script Date: 31/07/2025 11:42:02 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Statistic](
	[Title] [nvarchar](100) NULL,
	[Total_BooksSold] [int] NULL,
	[Total_Customers] [int] NULL,
	[Total_Orders] [int] NULL,
	[Total_Quantity] [int] NULL,
	[YearRevenue] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 31/07/2025 11:42:02 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](100) NOT NULL,
	[FullName] [nvarchar](100) NULL,
	[Role] [nvarchar](20) NULL,
	[ImageUrl] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Authors] ON 

INSERT [dbo].[Authors] ([AuthorId], [AuthorName]) VALUES (1, N'Do Huu Thang')
SET IDENTITY_INSERT [dbo].[Authors] OFF
GO
SET IDENTITY_INSERT [dbo].[BookImages] ON 

INSERT [dbo].[BookImages] ([ImageId], [BookId], [ImageUrl]) VALUES (19, 14, N'hh_bia_1_nhung_nguoi_khon_kho_1_8aec34095c624ee4b0bfdf628df1e20d_master.jpg')
INSERT [dbo].[BookImages] ([ImageId], [BookId], [ImageUrl]) VALUES (25, 2, N'toan-lop-5-nxb-giao-duc.jpg')
INSERT [dbo].[BookImages] ([ImageId], [BookId], [ImageUrl]) VALUES (26, 3, N'sach-giao-khoa-dai-so-va-giai-tich-11-co-ban.png')
SET IDENTITY_INSERT [dbo].[BookImages] OFF
GO
SET IDENTITY_INSERT [dbo].[BookRatings] ON 

INSERT [dbo].[BookRatings] ([RatingId], [CustomerId], [BookId], [RatingValue], [Comment], [CreatedAt]) VALUES (1, 4, 4, 3, N'Sách rất hay', CAST(N'2025-05-25T19:11:24.993' AS DateTime))
INSERT [dbo].[BookRatings] ([RatingId], [CustomerId], [BookId], [RatingValue], [Comment], [CreatedAt]) VALUES (2, 4, 15, 5, NULL, CAST(N'2025-05-25T19:18:22.957' AS DateTime))
INSERT [dbo].[BookRatings] ([RatingId], [CustomerId], [BookId], [RatingValue], [Comment], [CreatedAt]) VALUES (3, 4, 25, 4, N'Rất hay', CAST(N'2025-05-25T21:08:59.750' AS DateTime))
SET IDENTITY_INSERT [dbo].[BookRatings] OFF
GO
SET IDENTITY_INSERT [dbo].[Books] ON 

INSERT [dbo].[Books] ([BookId], [Title], [CategoryId], [PublisherId], [Price], [Description], [ImageUrl], [CreatedAt], [AuthorName], [IsVisible]) VALUES (1, N'Ngữ Văn', 1, 1, CAST(52000.00 AS Decimal(10, 2)), N'Xin Chao', NULL, CAST(N'2025-04-20T10:46:57.013' AS DateTime), N'Nhiều tác giả', 1)
INSERT [dbo].[Books] ([BookId], [Title], [CategoryId], [PublisherId], [Price], [Description], [ImageUrl], [CreatedAt], [AuthorName], [IsVisible]) VALUES (2, N'Toán', 2, 1, CAST(49999.00 AS Decimal(10, 2)), N'JJSDVMVSV', NULL, CAST(N'2025-04-20T13:40:50.920' AS DateTime), N'Nhiều tác giả', 1)
INSERT [dbo].[Books] ([BookId], [Title], [CategoryId], [PublisherId], [Price], [Description], [ImageUrl], [CreatedAt], [AuthorName], [IsVisible]) VALUES (3, N'Đại Số', 2, 1, CAST(30000.00 AS Decimal(10, 2)), N'Đại Số', NULL, CAST(N'2025-04-20T21:13:14.713' AS DateTime), N'Nhiều tác giả', 1)
SET IDENTITY_INSERT [dbo].[Books] OFF
GO
SET IDENTITY_INSERT [dbo].[CartItems] ON 

INSERT [dbo].[CartItems] ([CartItemId], [CustomerId], [BookId], [Quantity], [CreatedAt]) VALUES (41, 16, 1, 6, CAST(N'2025-05-16T14:40:58.620' AS DateTime))
INSERT [dbo].[CartItems] ([CartItemId], [CustomerId], [BookId], [Quantity], [CreatedAt]) VALUES (42, 16, 2, 1, CAST(N'2025-05-16T14:41:00.323' AS DateTime))
INSERT [dbo].[CartItems] ([CartItemId], [CustomerId], [BookId], [Quantity], [CreatedAt]) VALUES (43, 16, 4, 13, CAST(N'2025-05-16T14:41:21.237' AS DateTime))
SET IDENTITY_INSERT [dbo].[CartItems] OFF
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([CategoryId], [CategoryName], [Alias]) VALUES (1, N'Văn Học', N'van-hoc')
INSERT [dbo].[Categories] ([CategoryId], [CategoryName], [Alias]) VALUES (2, N'Toán Học', N'toan-hoc')
INSERT [dbo].[Categories] ([CategoryId], [CategoryName], [Alias]) VALUES (3, N'Triết', N'triet')
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[Customers] ON 

INSERT [dbo].[Customers] ([CustomerId], [FullName], [Phone], [Email], [Address], [Password]) VALUES (4, N'Đỗ Hữu Thắng', N'0352037252', N'yendaotg@gmail.com', N'10 Nguyễn Tuyển, Bình Trưng Tây, 2, Hồ Chí Minh, Việt Nam', N'AQAAAAIAAYagAAAAEEabGW5G6pYuQeuDTDzV93v9AHWqb41wEDdLu51ZSItMN2kfzjF60VRD0hlm8xhf9w==')
INSERT [dbo].[Customers] ([CustomerId], [FullName], [Phone], [Email], [Address], [Password]) VALUES (5, N'Đỗ Hữu Nghị', NULL, N'dohuuthang@gmail.com', NULL, N'AQAAAAIAAYagAAAAENSOFb7sLL8lJPceGQGVZ64yzipBm8Kxy27hfXZFeRx7k6Uqqbd3vqLfuCZSm3BmDA==')
INSERT [dbo].[Customers] ([CustomerId], [FullName], [Phone], [Email], [Address], [Password]) VALUES (6, N'Nguyễn Văn A', N'0352037252', N'abc@gmail.com', N'số 10 Trần Não, An Phú, 2, Hồ Chí Minh, Việt Nam', N'AQAAAAIAAYagAAAAEIADaZIXuB+XKbej0JxICXm/C50wAcfC/YFfdcQSvXKev//tbKMd9CtzlSc9H5JA8A==')
SET IDENTITY_INSERT [dbo].[Customers] OFF
GO
SET IDENTITY_INSERT [dbo].[InventoryDetail] ON 

INSERT [dbo].[InventoryDetail] ([DetailId], [ImportId], [BookId], [Quantity], [Iep_Id], [Type]) VALUES (1, 1, 1, 30, NULL, N'Import')
INSERT [dbo].[InventoryDetail] ([DetailId], [ImportId], [BookId], [Quantity], [Iep_Id], [Type]) VALUES (2, 1, 2, 30, NULL, N'Import')
INSERT [dbo].[InventoryDetail] ([DetailId], [ImportId], [BookId], [Quantity], [Iep_Id], [Type]) VALUES (3, 2, 1, 30, NULL, N'Import')
SET IDENTITY_INSERT [dbo].[InventoryDetail] OFF
GO
SET IDENTITY_INSERT [dbo].[InventoryExport] ON 

INSERT [dbo].[InventoryExport] ([UserId], [Export_Date], [Iep_Id], [OrderId]) VALUES (1, NULL, 1, 1)
INSERT [dbo].[InventoryExport] ([UserId], [Export_Date], [Iep_Id], [OrderId]) VALUES (1, NULL, 2, 2)
INSERT [dbo].[InventoryExport] ([UserId], [Export_Date], [Iep_Id], [OrderId]) VALUES (1, NULL, 3, 3)
SET IDENTITY_INSERT [dbo].[InventoryExport] OFF
GO
SET IDENTITY_INSERT [dbo].[InventoryImport] ON 

INSERT [dbo].[InventoryImport] ([ImportId], [UserId], [ImportDate], [Note]) VALUES (1, 1, CAST(N'2025-12-05T00:00:00.000' AS DateTime), N'Nhap lan dau')
INSERT [dbo].[InventoryImport] ([ImportId], [UserId], [ImportDate], [Note]) VALUES (2, 1, CAST(N'2025-04-28T17:02:38.203' AS DateTime), N'')
INSERT [dbo].[InventoryImport] ([ImportId], [UserId], [ImportDate], [Note]) VALUES (4, 1, CAST(N'2025-04-28T17:09:03.647' AS DateTime), N'')
SET IDENTITY_INSERT [dbo].[InventoryImport] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderItems] ON 

INSERT [dbo].[OrderItems] ([OrderItem_Id], [OrderId], [BookId], [BookPrice], [BookQuantity]) VALUES (1, 1, 1, CAST(20000.00 AS Decimal(10, 2)), 2)
INSERT [dbo].[OrderItems] ([OrderItem_Id], [OrderId], [BookId], [BookPrice], [BookQuantity]) VALUES (2, 1, 2, CAST(200000.00 AS Decimal(10, 2)), 2)
INSERT [dbo].[OrderItems] ([OrderItem_Id], [OrderId], [BookId], [BookPrice], [BookQuantity]) VALUES (3, 2, 4, CAST(343444.00 AS Decimal(10, 2)), 3)
GO
SET IDENTITY_INSERT [dbo].[OrderItems] OFF
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([CustomerId], [OrderDate], [ReceiveDate], [TotalPrice], [OrderId], [PaymentMethodId], [StatusId], [Address], [CustomerName], [Phone]) VALUES (4, CAST(N'2025-04-27T00:00:00.000' AS DateTime), CAST(N'2025-04-28T00:00:00.000' AS DateTime), CAST(100000.00 AS Decimal(10, 2)), 1, 1, 5, N'13 đường abc', N'Đỗ Hữu Thắng', N'0352037252')
INSERT [dbo].[Orders] ([CustomerId], [OrderDate], [ReceiveDate], [TotalPrice], [OrderId], [PaymentMethodId], [StatusId], [Address], [CustomerName], [Phone]) VALUES (4, CAST(N'2025-04-05T00:00:00.000' AS DateTime), CAST(N'2024-05-02T00:00:00.000' AS DateTime), CAST(19000.00 AS Decimal(10, 2)), 2, 1, 2, N'13 đường abc', N'Đỗ Hữu Thắng', N'0352037252')
INSERT [dbo].[Orders] ([CustomerId], [OrderDate], [ReceiveDate], [TotalPrice], [OrderId], [PaymentMethodId], [StatusId], [Address], [CustomerName], [Phone]) VALUES (5, CAST(N'2025-04-05T00:00:00.000' AS DateTime), CAST(N'2024-02-03T00:00:00.000' AS DateTime), CAST(200000.00 AS Decimal(10, 2)), 3, 1, 2, N'13 đường abc', N'Đỗ Hữu Thắng', N'0352037252')
GO
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderStatuses] ON 

INSERT [dbo].[OrderStatuses] ([StatusId], [StatusName]) VALUES (1, N'Chờ duyệt')
INSERT [dbo].[OrderStatuses] ([StatusId], [StatusName]) VALUES (2, N'Đã duyệt')
INSERT [dbo].[OrderStatuses] ([StatusId], [StatusName]) VALUES (3, N'Đang giao')
SET IDENTITY_INSERT [dbo].[OrderStatuses] OFF
GO
SET IDENTITY_INSERT [dbo].[PaymentMethods] ON 

INSERT [dbo].[PaymentMethods] ([PaymentMethodId], [MethodName]) VALUES (1, N'Chuyển khoản')
INSERT [dbo].[PaymentMethods] ([PaymentMethodId], [MethodName]) VALUES (2, N'Thanh toán khi nhận hàng')
SET IDENTITY_INSERT [dbo].[PaymentMethods] OFF
GO
SET IDENTITY_INSERT [dbo].[Publishers] ON 

INSERT [dbo].[Publishers] ([PublisherId], [PublisherName], [Address], [Phone]) VALUES (1, N'Trẻ', N'99 Nguyen Tu Nghiem', N'032146363')
INSERT [dbo].[Publishers] ([PublisherId], [PublisherName], [Address], [Phone]) VALUES (2, N'Kim Đồng', NULL, NULL)
INSERT [dbo].[Publishers] ([PublisherId], [PublisherName], [Address], [Phone]) VALUES (3, N'Văn học', NULL, NULL)
SET IDENTITY_INSERT [dbo].[Publishers] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserId], [Username], [Password], [FullName], [Role], [ImageUrl]) VALUES (1, N'admin', N'8c6976e5b5410415bde908bd4dee15dfb167a9c873fc4bb8a81f6f2ab448a918', N'Đỗ Hữu Thắng', N'admin', N'273010246_3112631635731424_124742690670505069_n (3).jpg')
INSERT [dbo].[Users] ([UserId], [Username], [Password], [FullName], [Role], [ImageUrl]) VALUES (2, N'thang', N'8c6976e5b5410415bde908bd4dee15dfb167a9c873fc4bb8a81f6f2ab448a918', N'Nguyễn Hữu Thắng', NULL, N'images (3).jpg')
INSERT [dbo].[Users] ([UserId], [Username], [Password], [FullName], [Role], [ImageUrl]) VALUES (3, N'user1', N'8c6976e5b5410415bde908bd4dee15dfb167a9c873fc4bb8a81f6f2ab448a918', N'Nguyễn Văn Đậu', NULL, NULL)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__536C85E4351BEEA2]    Script Date: 31/07/2025 11:42:07 CH ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BookRatings] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Books] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Books] ADD  DEFAULT ((1)) FOR [IsVisible]
GO
ALTER TABLE [dbo].[CartItems] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[InventoryImport] ADD  DEFAULT (getdate()) FOR [ImportDate]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ('Admin') FOR [Role]
GO
ALTER TABLE [dbo].[BookImages]  WITH CHECK ADD  CONSTRAINT [FK_BookImages_Books] FOREIGN KEY([BookId])
REFERENCES [dbo].[Books] ([BookId])
GO
ALTER TABLE [dbo].[BookImages] CHECK CONSTRAINT [FK_BookImages_Books]
GO
ALTER TABLE [dbo].[BookRatings]  WITH CHECK ADD FOREIGN KEY([BookId])
REFERENCES [dbo].[Books] ([BookId])
GO
ALTER TABLE [dbo].[BookRatings]  WITH CHECK ADD FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customers] ([CustomerId])
GO
ALTER TABLE [dbo].[Books]  WITH CHECK ADD FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([CategoryId])
GO
ALTER TABLE [dbo].[Books]  WITH CHECK ADD FOREIGN KEY([PublisherId])
REFERENCES [dbo].[Publishers] ([PublisherId])
GO
ALTER TABLE [dbo].[CartItems]  WITH CHECK ADD  CONSTRAINT [FK_CartItems_Books] FOREIGN KEY([BookId])
REFERENCES [dbo].[Books] ([BookId])
GO
ALTER TABLE [dbo].[CartItems] CHECK CONSTRAINT [FK_CartItems_Books]
GO
ALTER TABLE [dbo].[CartItems]  WITH CHECK ADD  CONSTRAINT [FK_CartItems_Customers] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customers] ([CustomerId])
GO
ALTER TABLE [dbo].[CartItems] CHECK CONSTRAINT [FK_CartItems_Customers]
GO
ALTER TABLE [dbo].[InventoryDetail]  WITH CHECK ADD FOREIGN KEY([BookId])
REFERENCES [dbo].[Books] ([BookId])
GO
ALTER TABLE [dbo].[InventoryDetail]  WITH CHECK ADD FOREIGN KEY([ImportId])
REFERENCES [dbo].[InventoryImport] ([ImportId])
GO
ALTER TABLE [dbo].[InventoryDetail]  WITH CHECK ADD  CONSTRAINT [FK_InventoryDetail_InventoryExport] FOREIGN KEY([Iep_Id])
REFERENCES [dbo].[InventoryExport] ([Iep_Id])
GO
ALTER TABLE [dbo].[InventoryDetail] CHECK CONSTRAINT [FK_InventoryDetail_InventoryExport]
GO
ALTER TABLE [dbo].[InventoryExport]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[InventoryExport]  WITH CHECK ADD  CONSTRAINT [FK_InventoryExport_Orders] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([OrderId])
GO
ALTER TABLE [dbo].[InventoryExport] CHECK CONSTRAINT [FK_InventoryExport_Orders]
GO
ALTER TABLE [dbo].[InventoryImport]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[OrderItems]  WITH CHECK ADD FOREIGN KEY([BookId])
REFERENCES [dbo].[Books] ([BookId])
GO
ALTER TABLE [dbo].[OrderItems]  WITH CHECK ADD  CONSTRAINT [FK_OrderItems_OrderId] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([OrderId])
GO
ALTER TABLE [dbo].[OrderItems] CHECK CONSTRAINT [FK_OrderItems_OrderId]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customers] ([CustomerId])
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_OrderStatuses] FOREIGN KEY([StatusId])
REFERENCES [dbo].[OrderStatuses] ([StatusId])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_OrderStatuses]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_PaymentMethods] FOREIGN KEY([PaymentMethodId])
REFERENCES [dbo].[PaymentMethods] ([PaymentMethodId])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_PaymentMethods]
GO
ALTER TABLE [dbo].[BookRatings]  WITH CHECK ADD CHECK  (([RatingValue]>=(1) AND [RatingValue]<=(5)))
GO
